body {
    width:100%;
    overflow-x:hidden;
    padding: 0px;
    margin: 0px;
    font-family: roboto, 'Times New Roman';
    display:flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.sec1 {
    background-color: #1f2937;
}

.sec1 .header {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    display:flex;
    justify-content: space-between;
}

.header img {
    width: 125px;
    height: 125px;
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu li {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

.intro {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.introinfo {
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.ph1 {
    height: 40px;
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
}

.ph2 {
    height: 40px;
    font-size: 20px;
}

.b1 {
    font-size: 18px;
    font-weight: 600;
    background-color: #183081;
    color: #e5e7eb;
    border-radius: 10px;
    border: 0px;
    width: 125px;
    height: 40px;
}

.introph {
    width: 50px;
    height: 350px;
}

.introimg {
    width: 400px;
    height: auto;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introimg img {
    width: 400px;
    height: auto;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2 {
    padding: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec2block .header {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.sec2block .images {
    display: flex;
}

.images .info {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    outline:2px solid #183081;
}

.sec3 {
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #e5e7eb;
}

.sec3block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec3 .testimonial {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: 1F2937;
    align-self: flex-start;

}

.sec3 .author {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}